meta(charset='utf8')
title= name
link(rel='stylesheet', href='#{baseUrl}/css/global.css')
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro')
script(src='#{baseUrl}/js/jquery/jquery.min.js')
script(src='#{baseUrl}/js/bootstrap/bootstrap.js')
script(src='#{baseUrl}/js/jquery/affix-controls.js')
script(publitas-embed='', data-wrapperid='publitas-embed-zj1wwenvqtihpvi', data-cfasync='false', data-menu='false', data-publication='https://view.publitas.com/icecream-magazine/issue-1/', data-responsive='true', type='text/javascript', src='https://view.publitas.com/embed.js')
link(href="https://file.myfontastic.com/qW3CHTkJaoxj8GmJQwZBvU/icons.css", rel="stylesheet")
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Rubik:400,500', type='text/css')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,500', type='text/css')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Yantramanav:400,700',type='text/css')
link(href="//cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.min.css", type="text/css", rel="stylesheet")
